<h1>Edit Paper</h1>
 


<%= form_with(model: @paper, local: true) do |form| %>
<p>
    <%= form.select 'author_ids',
    options_from_collection_for_select(Author.all, :id, :name, @paper.author_ids),
    {},
    multiple: true, size: 10 %>
 <p>

 <div class="field">
 <%= form.label :title %>
 <%= form.text_field :title %>
</div>

<div class="field">
 <%= form.label :venue %>
 <%= form.text_field :venue %>
</div>

<div class="field">
 <%= form.label :year %>
 <%= form.number_field :year %>
</div>
<p>
 <%= form.submit %>
</p>

<% end %>